
html, body {
    background: #c1c5c4;
    font-family: sans-serif;
  }


.deals-container {
    margin-top: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.activity-wrapper {
    margin: auto;
    position: relative;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
}

.activity-wrapper:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }

.activity {
    width: 310px;
    height: 415px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin: 1rem;
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
    
}
.activity-image-wrap {
    max-height: 40%;
    width: auto;
    max-width: 250px;
}

.activity-image {
    height: 15vw;
    width: 100%;
    object-fit: contain; 
}
 
.activity-bookingLink {
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 4px;
    background-color: #0E988A;
    float:right;
    width: calc(30% - 2px);
    height:100%;
    margin-right: 1rem;
    margin-top: -0.2rem;
}
.activity-bookingLink:hover {
    background-color: #0d6860;
    transform: translateY(5px);
}
.activity-price {
    color: #0d6860;
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1.2vw;
}
.activity-name {
    margin: 0.7rem auto;
    padding: 0;
    width: 50%;
    position:relative;
    float:left;
    font-size: 1.2vw;
    margin-left: 1rem;
    margin-top: 1rem;
    color: #0d6860;
    font-weight: 700;
}
.details  {
    z-index: 10;
    background: #0E988A;
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
    cursor: pointer;
}



.details-clicked {
    z-index: 10;
    background: #0E988A;
    width: 140px;
    position: absolute;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
    cursor: pointer;
    width:100%;
    right:0;
    top:0;
    border-radius: 0;
    height:80%;
    font-size: 2vw;
}
.icon {
    position:absolute;
    right:85px;
    top:85px;
    color:white;
    opacity: 1;
    font-size: 2vw;
}


.activity-description {
    position: relative;
    width: 80%;
    height: 100%;
    right: 5px;
    top: 135px;
    padding: 0;
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 1vw;
    opacity: 0;
    color: #fff;
    z-index: 620;
    transform: scale(0.5);
    transform: translateY(-100%);
    transition: opacity 0.2s, transform 0.8s;
}
.activity-description-clicked {
    position: relative;
    width: 80%;
    height: 100%;
    right: 5px;
    top: 135px;
    padding: 0;
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 1vw;
    opacity: 0;
    color: #fff;
    z-index: 620;
    transition: opacity 0.2s, transform 0.8s;
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
    text-align: left;
 }

 .more {
     padding-bottom: 3rem;
 }



@media screen and (min-width: 768px) and (max-width: 1024px) {

 .activity-image {
    height: 30vw;
 }
 .activity-description-clicked {
    font-size: 2vw;
}
 .icon {
    font-size: 3vw;
 }
}


@media screen and (max-width: 767px) {
    
    .activity-price {
        font-size: 3.4vw;
    }
    .activity-name {
        font-size: 3.2vw;
    }

    .activity-image {
        height: 55vw;
    }
    .activity-description-clicked {
        font-size: 3vw;
    }
    .icon {
        font-size: 4vw;
     }
    
}