.page {
 position: absolute;
 width: 100%;
 height: 100%;
 z-index: 0;
 box-sizing: border-box;
 padding: 0%;
 top: 0vw;
 left: 0;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 justify-content: flex-start;
 overflow-x: none;
 background-color:#c1c5c4;
}

.sky {
position: absolute;
top: 5vw;
left: -10vw;
flex: auto;
z-index: 11;
}

.mountain {
 position: absolute;
 top: 10vw;
 left: 0;
 flex: auto;
 z-index: 11;
}

.water {
 position: absolute;
 top: -9vw;
 left: 0;
 flex: auto;
 z-index: 12;
}

.find {
 position: absolute;
 bottom: 20vw;
 left: 35vw;
 flex: auto;
 z-index: 13;
 color: #ffffff;
 text-transform: uppercase;
 font-size: 1vw;
}

.find-arrow {
 position: absolute;
 left: 15vw;
 font-size: 4vw;
}

.chamonie {
 position: absolute;
 left: -10vw;
 top: 80vw;
 font-size: 2vw;
 z-index: 16;
 font-size: 2vw;
 color: #ffffff;
}

.top {
 position: absolute;
 left: 40rem;
 top: 90vw;
 height: 40vw;
 width: 100%;
 font-size: 2vw;
 z-index: 17;
 font-size: 7vw;
 text-align: center;
 color: #ffffff; 
}

.grid-wrap {
 position: relative;
 top: 95vw;
 left: 0;
 padding-top: 4rem;
 padding-bottom: 10rem;
 margin: 8rem 0;
 display: grid;
 height: 100%;
 grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
 grid-template-rows: auto;
 grid-column-gap: 2rem;
 grid-row-gap: 1rem;
 background-color:#c1c5c4;
 align-items: center;
}

.card {
 min-width: 25vw;
 min-height: 25vw;
 position: relative;
 margin: 2rem auto;
 border-radius: 60%;
 text-align: center;
 padding: 0;
 background-color: #000000;
 animation: slide-right 3s both;
 animation-delay: calc(var(--i) * 2s);
}
@keyframes slide-right {
 from {
    transform: translateY(50%);
    opacity: 0;
 }
}

.desc {
 margin-top: 5rem;
 padding: 1rem;
 font-size: 3vw;
 color:#ffffff;
 text-align: center;
 text-transform: uppercase;
}

.price {
 margin-top: 1rem;
 padding: 1rem;
 font-size: 1vw;
 color:#0E988A;
 text-align: center;
}

.btn-see {
 color: #ffffff;
 background-color:#0E988A;
 font-size: 1vw; 
 cursor: pointer;
 padding: 1rem;
 text-decoration: none;
 min-width: 1vw;
 min-height: 1vw;
 border-radius: 50%;
}

.btn-see:active {
 background-color:#39756f;
 text-decoration: underline; 
}


@media screen and (min-width: 768) and (max-width: 1366px) {
   .sky {
      position: absolute;
      top: 2vw;
      left: -10vw;
      flex: auto;
      z-index: 4;
     }
             
     .mountain {
      position: absolute;
      top: 13vw;
      left:-16vw;
      flex: auto;
      z-index: 11;
      }
             
     .water {
      position: absolute;
      top: -50vw;
      left: 0;
      flex: auto;
      z-index: 12;
      }
     
      .find {
      position: absolute;
      bottom: 50vw;
      left: 20vw;
      flex: auto;
      z-index: 13;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 1.8vw;
      }
        
      .find-arrow {
      position: absolute;
      left: 25vw;
      font-size: 6vw;
     }
     
     .chamonie {
      position: absolute;
      left: -92vw;
      top: 220vw;
      font-size: 2vw;
      z-index: 16;
      font-size: 2.5vw;
      color: #ffffff;
     }
     
     .top {
      top: 320vw;
     }
     
     .grid-wrap {
      position: relative;
      top: 280vw;
      height: auto;
      left: 0;
      padding-top: 18rem;
      padding-bottom: 2rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 2rem;
      grid-row-gap: 1rem;
      background-color:#c1c5c4;
      align-items: center;
      }
     
      .card {
       min-width: 80vw;
       min-height: 80vw;
       margin: 2rem auto;
       border-radius: 60%;
       text-align: center;
       background-color: #000000;
       }
     
       .price {
        font-size: 3vw;
       }
        
       .btn-see {
        font-size: 3vw; 
        min-width: 3vw;
        min-height: 3vw;
        }
     
        .desc {
         padding: 2.2rem;
         font-size: 6vw;
        }     
}



@media screen and (max-width: 767px) {


.sky {
 position: absolute;
 top: 2vw;
 left: -10vw;
 flex: auto;
 z-index: 4;
}
        
.mountain {
 position: absolute;
 top: 13vw;
 left:-16vw;
 flex: auto;
 z-index: 11;
 }
        
.water {
 position: absolute;
 top: -50vw;
 left: 0;
 flex: auto;
 z-index: 12;
 }

 .find {
 position: absolute;
 bottom: 50vw;
 left: 20vw;
 flex: auto;
 z-index: 13;
 color: #ffffff;
 text-transform: uppercase;
 font-size: 1.8vw;
 }
   
 .find-arrow {
 position: absolute;
 left: 25vw;
 font-size: 6vw;
}

.chamonie {
 position: absolute;
 left: -92vw;
 top: 220vw;
 font-size: 2vw;
 z-index: 16;
 font-size: 2.5vw;
 color: #ffffff;
}

.top {
 top: 320vw;
}

.grid-wrap {
 position: relative;
 top: 280vw;
 height: auto;
 left: 0;
 padding-top: 18rem;
 padding-bottom: 2rem;
 display: grid;
 grid-template-columns: 1fr;
 grid-column-gap: 2rem;
 grid-row-gap: 1rem;
 background-color:#c1c5c4;
 align-items: center;
 }

 .card {
  min-width: 80vw;
  min-height: 80vw;
  margin: 2rem auto;
  border-radius: 60%;
  text-align: center;
  background-color: #000000;
  }

  .price {
   font-size: 3vw;
  }
   
  .btn-see {
   font-size: 3vw; 
   min-width: 3vw;
   min-height: 3vw;
   }

   .desc {
    padding: 2.2rem;
    font-size: 6vw;
   }
         
}


   