

.header-wrapper {
   overflow-x: hidden;
   width: 100vw;
	height: 100vh;
   position: relative;
   top: 0;  
   background-repeat:no-repeat;
   background-size:contain;
   background-position:center;
}

.mountain-back {
   position: absolute;
   top: 11vw;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-repeat:no-repeat;
   background-size:contain;
   background-position:center;
}

.mountain-front {
   position: absolute;
	top: 11vw;
	left: 0;
	width: 100vw;
   height: 100vh;
   background-repeat:no-repeat;
   background-size:contain;
   background-position:center;
  }

.water {
   position: absolute;
   top: 10vw;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 300;
   background-repeat:no-repeat;
   background-size:contain;
   background-position:center;
 }

 .header-mobile {
    display: none;
 }



.find {
 position: relative;
 bottom: 45vh;
 left: 35vw;
 flex: auto;
 z-index: 300;
 color: #ffffff;
 text-transform: uppercase;
 font-size: 1vw;
}

.find-arrow {
 position: absolute;
 left: 15vw;
 font-size: 4vw;
}


.top {
 position: relative;
 margin-bottom:0;
 padding: 1rem;
 width: 100%;
 z-index: 100;
 font-size: 7vw;
 text-align: center;
 color: #ffffff; 
}


.grid-wrap {
 position: relative;
 width: 100vw;
 height: 100vh;
 padding-bottom: 10rem;
 margin: 8rem 0;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
 grid-template-rows: auto;
 grid-column-gap: 2rem;
 grid-row-gap: 1rem;
 background-color:#c1c5c4;
 align-items: center;
 z-index: 400;
}

.card {
 width: 330px;
 height: 330px;
 position: relative;
 margin: 2rem auto;
 border-radius: 60%;
 text-align: center;
 padding: 0;
 background-color: #000000;
 animation: slide-left 3s both;
 animation-delay: calc(var(--i) * 2s);
}
@keyframes slide-left {
 from {
    transform: translateY(-100%);
    opacity: 0;
 }
}

.desc {
 position: relative;
 margin-top: 7rem;
 padding: 1rem;
 font-size: 3vw;
 color:#ffffff;
 text-align: center;
 text-transform: uppercase;
}

.price {
 position: relative;
 margin-top: 1rem;
 padding: 1rem;
 font-size: 1vw;
 color:#0E988A;
 text-align: center;
}

.btn-see {
 position: relative;
 color: #ffffff;
 background-color:#0E988A;
 font-size: 1vw; 
 cursor: pointer;
 padding: 1rem;
 text-decoration: none;
 min-width: 1vw;
 min-height: 1vw;
 border-radius: 50%;
}

.btn-see:active {
 background-color:#39756f;
 text-decoration: underline; 
}



@media screen and (max-width: 767px) {

.water .mountain-back .mountain-front{
   display: none;
}

.header-mobile {
   overflow-x: hidden;
   width: auto;
	height: 100vh;
   position: relative;
   top: 0;  
   margin-left: auto;
   margin-right: auto;
   width: 100vw;
   height: 100vh;
   z-index: 10;
   background-repeat:no-repeat;
   background-size:contain;
   background-position:center;
}


.top {
 padding: 5rem;
}
  

.grid-wrap {
 position: relative;
 top: -50vw;
 height: auto;
 left: 0;
 padding-top: 4rem;
 padding-bottom: 0;
 margin-bottom: 0;
 display: grid;
 grid-template-columns: 1fr;
 grid-column-gap: 1rem;
 grid-row-gap: 1rem;
 background-color:#c1c5c4;
 align-items: center;
 }

 .card {
  min-width: 80vw;
  min-height: 80vw;
  margin: 2rem auto;
  border-radius: 60%;
  text-align: center;
  background-color: #000000;
  }

  .price {
   font-size: 3vw;
  }
   
  .btn-see {
   font-size: 3vw; 
  }

  .desc {
   font-size: 6vw;
  }
         
}
@media screen and (min-width: 768) and (max-width: 1024px) {
   
   .grid-wrap {
    grid-template-columns: 1fr 1fr;
    }
   .price {
    font-size: 3vw;
    }
   
}

   