html, body {
    background: #c1c5c4;
    font-family: sans-serif;
  }

.select-container {
    margin-top: 16vw;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 3vw;
    color: #0E988A;
}

.select {
    width: 40vw;
    height: 5vw; 
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #2a2628;
}

.deals-container {
    margin-top: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

